html {
	background: #1d2029;
}

body {
	margin: 0;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	color: #000;
	background: radial-gradient(ellipse at center,#484b5a 0,#1d2029 100%);
}

#wrapper {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.canvasContainer {
	position: relative;
	overflow: hidden;
}

.canvasContainer canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

#mapContainer {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 75vh;
	height: 100vh;
}

#chartContainer {
	width: calc(100vw - 75vh);
	height: calc(100vh);
}
