
body {
	font-family: sans-serif;
			margin: 0;
}

#wrapper {
	position: relative;
}

#chart {
	top: 0px;
	right: 0px;
	position: absolute;
	width: calc(100% - 470px);
	height: 600px;
}

#map {
	width: 450px;
	height: 600px;
}

.leaflet-tooltip {
	padding: 4px;
	line-height: 1em;
}

.leaflet-tooltip small {
	color: #888;
}

#legend { 
	border-spacing: 0px;
	border-collapse: collapse;
}

#legend td {
	margin: 0;
	width: 10px;
	height: 10px;
	font-size: 10px;
	line-height: 0;
}

#legend td:first-child {
	width: auto;
	text-align: right;
	padding-right: 3px;
}

#slider_container {
	width: 450px;
	text-align: center;
	z-index: 2000;
	background: rgba(255,255,255,0.3);
}

#slider_container input {
	width: 60%;
	background: transparent;
	height: 1rem;
}

#slider_label {
	display: inline-block;
	text-align: right;
	width: 60px;
}

#button_play {
	font-family: Open Sans,Helvetica,Arial,sans-serif;
	font-size: 24px;
	font-weight: 400;
	hyphens: auto;
	line-height: 41px;
	text-indent: 5px;
	box-sizing: inherit;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #dee1e3;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	color: #434343;
	transition: color .1s;
}

#button-play:hover {
	color: #e64242
}

input[type=range] {
	-webkit-appearance: none;
	vertical-align: text-top;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	outline: none;
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: #dee1e3;
	border-radius: .5em;
}

input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #434343;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: #dee1e3;
	border-radius: .5em;
}

input[type=range]::-moz-range-thumb {
	border: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #434343;
	cursor: pointer;
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5px;
	background: transparent;
	border-color: transparent;
	border-width: 12px 0;
	color: transparent;
}

input[type=range]::-ms-thumb {
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #434343;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: #dee1e3;
	border-radius: 5px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
	background: #dee1e3;
}